// ----- B U T T O N S -----

/*
Buttons

Buttons description

Markup: <button type="button" class="btn {$modifiers}">
<span class="glyphicon glyphicon-briefcase"></span>Reservér bogen nu</button>
<br/>
<button type="button" class="btn btn-small {$modifiers}">Reservér bogen nu</button>

:hover - Highlight the button when hovered.
:active - Highlight when active.
.btn-secondary - Secondary color.
.btn-danger - Danger / Warning color.

Styleguide 2.0
*/
.btn{
    display: inline-block;
    padding: 5px unit(2);
    margin-bottom: unit(2) - 2px;
    font-weight: normal;
    line-height: unit(3);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: $border-radius;
    outline:0;
    color:white;
    font-size: 16px;
    
    background-color: $color-mint-green;
    box-shadow:0px 1px 2px darken($color-mint-green, 20);

    span.glyphicon{
        color:black;
        -moz-opacity: 0.25;
        opacity:.25;
        filter: alpha(opacity=25);
        top: 3px;
        margin-right:unit(1);
        display:inline-block;
    }
    
    &:active, &.pseudo-class-active{
        padding: 4px unit(2) 6px unit(2);
        box-shadow:inset 1px 1px 4px darken($color-mint-green, 10);
        color: tint($color-mint-green, 85);
    }

    &:hover, &.pseudo-class-hover{
        background-color: darken($color-mint-green, 2);
    }
}

.btn-small{
    font-size: 12px;
    line-height:22px;
    padding: 0px 6px;
    
    &:active{
        padding: 0px 6px 1px 6px;
        line-height:21px;
    }
}


.btn-secondary{
    background-color: $color-grey-light;
    box-shadow:0px 1px 2px darken($color-grey-light, 30);
    
    &:hover, &.pseudo-class-hover{
        background-color: darken($color-grey-light, 4);
    }
    &:active, &.pseudo-class-active{
        box-shadow:inset 1px 1px 4px darken($color-grey-light, 15);
        color: tint($color-grey-light, 80);
    }
}


.btn-danger{
    background-color: $color-orange;
    box-shadow:0px 1px 2px darken($color-orange, 30);
    
    &:hover, &.pseudo-class-hover{
        background-color: darken($color-orange, 4);
    }
    &:active, &.pseudo-class-active{
        box-shadow:inset 1px 1px 4px darken($color-orange, 15);
        color: tint($color-orange, 80);
    }
}

button.close{
    background-color: transparent;
    box-shadow: none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    opacity: .2;
    filter: alpha(opacity=20);
    width: 13px;
    height: 17px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    &:hover{
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        filter: alpha(opacity=50);
    }
}