@charset "UTF-8";
// ----- M A I N  C O L O R S -----
// MAIN
$color-sand:#f1f1e7;
//$color-brown:#b39c86;
$color-mudgreen:#63706a;
$color-black:#313233; //#5f6062;

// HELPERS
$color-grey: #5f6062;
$color-grey-light:#686865;
$color-red-bright:#f47049;
$color-dark-sand:#e9e9e1;
$color-mint-green:#00b38a;
$color-mint-green-dark: #01795d;

// TEMA
$color-red:#ff7275;
$color-purple:#696092;
$color-blue:#278fb5;
$color-yellow:#ffba48;
$color-green:#7cbf9e;
$color-pink:#dc90b5;

/*
Farver

Styleguide 2.0
*/


/*
Primær Farver

<div>
    <div class="g4-1 fix_color color-sand fix_border"><strong>Sand</strong> - Baggrundsfarve</div>
    <div class="g4-5 fix_color color-mudgreen"><strong>Mud Green</strong> - Brødtekst</div>
    <div class="g4-9 fix_color color-black"><strong>Black</strong> - Headers, (Footer)</div>
</div>
<div class="gclear"></div>
<div >
    <div class="g4-1 fix_color color-grey"><strong>Grey</strong> - Header 3</div>
    <div class="g4-5 fix_color color-grey-light"><strong>Grey Light</strong> - Links, Knapper</div>
    <div class="g4-9 fix_color color-dark-sand fix_border"><strong>Tinted Sand</strong> - Odd/even tabeller</div>
</div>
<div class="gclear"></div>
<div >
    <div class="g4-1 fix_color color-red-bright"><strong>Bright Red</strong> - VTL Menu Active</div>
    <div class="g4-5 fix_color color-mint-green"><strong>Mint Green</strong> - Links, Knapper</div>
    <div class="g4-9 fix_color color-mint-green-dark"><strong>Mint Green Dark</strong> - Links i brødtekst</div>
</div>

Styleguide 2.1
*/

/*
Tema Farver

 <style>
    .fix_color{
        padding: 15px 0px 15px 15px;
        color:rgba(255,255,255,0.75);
        font-size: 12px;
    }
    .fix_color_small{
        height:30px;
    }
    .fix_border{
        border: 1px solid #D8D8D0;
        color: rgba(120, 135, 128, 0.75);
        padding: 14px 0px 14px 15px;
    }
</style>
<div >
    <div class="g12-1">
        <p>Her ses de tema farverne, som vil optræde i header, searchbar og menu:</p>
    </div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red-font">Red</div>
    <div class="g2-3 color-purple-font">Purple</div>
    <div class="g2-5 color-blue-font">Blue</div>
    <div class="g2-7 color-yellow-font">Yellow</div>
    <div class="g2-9 color-green-font">Green</div>
    <div class="g2-11 color-pink-font">Pink</div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red-light fix_color_small _small"></div>
    <div class="g2-3 color-purple-light fix_color_small"></div>
    <div class="g2-5 color-blue-light fix_color_small "></div>
    <div class="g2-7 color-yellow-light fix_color_small "></div>
    <div class="g2-9 color-green-light fix_color_small "></div>
    <div class="g2-11 color-pink-light fix_color_small "></div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red fix_color_small "></div>
    <div class="g2-3 color-purple fix_color_small "></div>
    <div class="g2-5 color-blue fix_color_small "></div>
    <div class="g2-7 color-yellow fix_color_small "></div>
    <div class="g2-9 color-green fix_color_small "></div>
    <div class="g2-11 color-pink fix_color_small "></div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red-dark fix_color_small "></div>
    <div class="g2-3 color-purple-dark fix_color_small "></div>
    <div class="g2-5 color-blue-dark fix_color_small "></div>
    <div class="g2-7 color-yellow-dark fix_color_small "></div>
    <div class="g2-9 color-green-dark fix_color_small "></div>
    <div class="g2-11 color-pink-dark fix_color_small "></div>
</div>
<div class="gclear spacer-md"></div>

<div >
    <div class="g12-1">
        <p>
            Farverne der bliver brugt til baggrundsfarve på headeren er fx. <code>red</code> eller <code>purple</code> etc.
        </p>
    </div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red fix_color">red</div>
    <div class="g2-3 color-purple fix_color">purple</div>
    <div class="g2-5 color-blue fix_color">blue</div>
    <div class="g2-7 color-yellow fix_color">yellow</div>
    <div class="g2-9 color-green fix_color">green</div>
    <div class="g2-11 color-pink fix_color">pink</div>
</div>
<div class="gclear spacer-md"></div>

<div >
    <div class="g12-1">
        <p>
            Farverne der bliver brugt til searchbaren er fx. <code>blue dark</code> eller <code>yellow dark</code> etc.
        </p>
    </div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red-dark fix_color">red dark</div>
    <div class="g2-3 color-purple-dark fix_color">purple dark</div>
    <div class="g2-5 color-blue-dark fix_color">blue dark</div>
    <div class="g2-7 color-yellow-dark fix_color">yellow dark</div>
    <div class="g2-9 color-green-dark fix_color">green dark</div>
    <div class="g2-11 color-pink-dark fix_color">pink dark</div>
</div>
<div class="gclear spacer-md"></div>

<div>
    <div class="g12-1">
        <p>
            Farverne der bliver brugt til menu når den bliver responsive er fx. <code>green light</code> eller <code>pink light</code> etc.
        </p>
    </div>
</div>
<div class="gclear"></div>
<div >
    <div class="g2-1 color-red-light fix_color">red light</div>
    <div class="g2-3 color-purple-light fix_color">purple light</div>
    <div class="g2-5 color-blue-light fix_color">blue light</div>
    <div class="g2-7 color-yellow-light fix_color">yellow light</div>
    <div class="g2-9 color-green-light fix_color">green light</div>
    <div class="g2-11 color-pink-light fix_color">pink light</div>
</div>
<div class="gclear spacer-md"></div>

Styleguide 2.2
*/



// PRIMARY
.color-sand{
    background-color: $color-sand;
}

//.color-brown{
//    background-color: $color-brown;
//}

.color-mudgreen{
    background-color: $color-mudgreen;
}

.color-black{
    background-color: $color-black;
}

.color-grey{
    background-color: $color-grey;
}

.color-grey-light{
    background-color: $color-grey-light;
}

.color-red-bright{
    background-color: $color-red-bright;
}

.color-dark-sand{
    background-color: $color-dark-sand;
}

.color-mint-green{
    background-color: $color-mint-green;
}




// FONT

.color-red-font {
    color: $color-red;
}
.color-purple-font {
    color: $color-purple;
}
.color-blue-font {
    color: $color-blue;
}
.color-yellow-font {
    color: $color-yellow;
}
.color-green-font {
    color: $color-green;
}
.color-pink-font {
    color: $color-pink;
}



// TEMA
.color-red {
    background-color: $color-red;
}
.color-purple {
    background-color: $color-purple;
}
.color-blue {
    background-color: $color-blue;
}
.color-yellow {
    background-color: $color-yellow;
}
.color-green {
    background-color: $color-green;
}
.color-pink {
    background-color: $color-pink;
}


$red-light:     desaturate(lighten($color-red,5),5);
$purple-light:  desaturate(lighten($color-purple,10),0);
$blue-light:    desaturate(lighten($color-blue,10),10);
$yellow-light:  desaturate(lighten($color-yellow,10),10);
$green-light:   desaturate(lighten($color-green,10),0);
$pink-light:    desaturate(lighten($color-pink,5),0);


.color-red-light {
    background-color: $red-light;
}
.color-purple-light {
    background-color: $purple-light;
}
.color-blue-light {
    background-color: $blue-light;
}
.color-yellow-light {
    background-color: $yellow-light;
}
.color-green-light {
    background-color: $green-light;
}
.color-pink-light {
    background-color: $pink-light;
}

$red-dark:     desaturate(darken($color-red, 12), 5);
$purple-dark:  desaturate(darken($color-purple, 10), 2);
$blue-dark:    desaturate(darken($color-blue, 10), 2);
$yellow-dark:  desaturate(darken($color-yellow, 12), 5);
$green-dark:   desaturate(darken($color-green, 12), 5);
$pink-dark:    desaturate(darken($color-pink, 12), 4);

.color-red-dark{
    background-color: $red-dark;
}
.color-purple-dark{
    background-color: $purple-dark;
}
.color-blue-dark{
    background-color: $blue-dark;
}
.color-yellow-dark{
    background-color: $yellow-dark;
}
.color-green-dark{
    background-color: $green-dark;
}
.color-pink-dark{
    background-color: $pink-dark;
}


.font-white {
    color: white;
}
