@charset "UTF-8";
/*
Content

Styleguide 80.0
*/

/*
Content List

Til visning af nyheder, temaer, arrangementer kunne man vælge at bruge <code>.content-list</code> i samarbejde med <code>.imgtext.column</code> med <code>.img-wrap.hide</code>.
Elementet <code>.content-list</code> wrapper dataen i en let blød kasse, så det er nemmere at skilde dataen ad.
Her kunne man evt give <code>.btn</code> en <code>.btn-right</code> for at få den til at holde højre kant.
For at gøre det mere overskueligt, så kunne man give billedewrapperen <code>.img-wrap.hide</code>, for at skjule billede på mobiler.
<br><br>
Det optimale antal tags pr. nyhed/arrangement er mellem 2-3.

Markup: <ul class="content-list">
    <li>
        <div class="imgtext column">
            <div class="img-wrap hide">
                <a href="#"><img src="_/img/content/150x112.png"  alt=""></a>
            </div>
            <div class="text">
                <div class="meta">
                    <span class="meta-primary"><a href="">Mandag 18. november 2013</a></span>
                    <span class="meta-secondary">af <a href="">Lene Frandsen</a></span>
                </div>
                <h2><a href="">Nickelback – drengerøve, romantikere, nostalgikere</a></h2>
                <p>Nickelback er som et hvert andet rockband: masser af guitar, masser af aggressioner og til tider en stille ballade. For mig er de dog meget mere end det. Det er ikke kun </p>
                <div class="tags">
                    <a href="" class="tag">Bøger</a>
                    <a href="" class="tag">Lystrup Bibliotek</a>
                    <a href="" class="tag">Litteratur</a>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-right">Læs mere</button>
    </li>
    <li>
        <div class="imgtext column">
            <div class="img-wrap hide">
                <a href="#"><img src="_/img/content/150x112.png"  alt=""></a>
            </div>
            <div class="text">
                <div class="meta">
                    <span class="meta-primary"><a href="">Mandag 18. november 2013</a></span>
                    <span class="meta-secondary">af <a href="">David Hansen</a></span>
                </div>
                <h2><a href="">Efterårsaktviteter for børn i Skrotlab</a></h2>
                <p>Genbrug og skrot bruges i hele verden! Kom og lav en drage af genbrugt emballage som i Indien, en petroleumslampe af brugte dåser som i Thailand..</p>
                <div class="tags">
                    <a href="" class="tag">Kort nyt</a>
                    <a href="" class="tag">Hovedbiblioteket</a>
                    <a href="" class="tag">Skrotlab</a>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-right">Læs mere</button>
    </li>
    <li>
        <div class="imgtext column">
            <div class="img-wrap hide">
                <a href="#"><img src="_/img/content/150x112.png"  alt=""></a>
            </div>
            <div class="text">
                <div class="meta">
                    <span class="meta-primary"><a href="">Onsdag 02. november 2013</a></span>
                    <span class="meta-secondary">af <a href="">Troels Tomsen</a></span>
                </div>
                <h2><a href="">Bliv klar til køreprøven med Turteori.dk</a></h2>
                <p>Nu er det muligt at få et projekt eller arrangement op at stå via bibliotekernes nye crowdfundingside www.folkevent.nu</p>
                <div class="tags">
                    <a href="" class="tag">Anbefalinger</a>
                    <a href="" class="tag">Egå Kombi-bibliotek</a>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-right">Læs mere</button>
    </li>
</ul>

Styleguide 80.1
*/

/*
Arrangement

Markup: <ul class="content-list">
    <li>
        <div class="imgtext column">
            <div class="img-wrap hide">
                <a href="#"><img src="_/img/content/150x112.png"  alt=""></a>
            </div>
            <div class="text">
                <div class="meta">
                    <span class="meta-primary"><i class="fa fa-calendar"></i> <a href="">Torsdag 21. august 2014</a></span>
                    <span class="meta-secondary">19:00 til 20:00</span> <span class="meta-secondary meta-strong">GRATIS</span><br>
                    <span class="meta-location"><i class="fa fa-map-marker"></i> <a href="">Biblioteket Rentemestervej </a></span>
                </div>
                <h2><a href="">Tove Ditlevsens liv i litteratur og musik</a></h2>
                <p>Bliv klogere på Tove Ditlevsen</p>
                <div class="tags">
                    <a href="" class="tag">Musik</a>
                    <a href="" class="tag">Litteratur</a>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-right">Læs mere</button>
    </li>
</ul>

Styleguide 80.2
*/

/*
Temaer

Markup: <h1>Temaer</h1>
<ul class="content-list">
    <li>
        <div class="imgtext column">
            <div class="img-wrap hide">
                <a href="#"><img src="holder.js/150x112/#00b38a:#fff"  alt=""></a>
            </div>
            <div class="text">
                <h2><a href="">Biblioteket tilbyder også</a></h2>
                <p>Her kan du se hvad bibliotekerne også tilbyder</p>
            </div>
        </div>
        <button class="btn btn-primary btn-right">Læs mere</button>
    </li>
    <li>
        <div class="imgtext column">
            <div class="img-wrap hide">
                <a href="#"><img src="holder.js/150x112/#00b38a:#fff"  alt=""></a>
            </div>
            <div class="text">
                <h2><a href="">Faglitteratur - uhmm!</a></h2>
                <p>Hobby, interesse, fag - udforsk bibliotekets univers med de bedste bøger om alle emner i verden</p>
            </div>
        </div>
        <button class="btn btn-primary btn-right">Læs mere</button>
    </li>
</ul>

Styleguide 80.3
*/

ul.content-list{
    list-style:none;
    margin: 0;padding: 0;
    display:block;
    width:100%;

    li{
        @extend .content-box;
    }
}

@mixin content-box {
        display:inline-block;
        width:100%;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        margin: 0px 0 unit(2) 0; padding: unit(2);
        border-radius: $border-radius;
        background-color: lighten($color-sand, 3);
        border: 1px solid darken($color-sand, 5);

        @include small(){
            padding: 20px 10px 20px 10px;
        }
}
.content-box {
  @include content-box;
}

//.content-event{
//    border:0;
//    background-color: white;
//}
