@charset "UTF-8";
// ----- D R O P D O W N -----

/*
Dropdown

Markup: <div class="dropdown">
    <input type="checkbox" id="dropdown-{$modifiers}"> <!-- ID must be uniq -->
    <label for="dropdown-{$modifiers}"> <!-- and same ID here -->
        <span class="dropdown-title {$modifiers}">Dropdown
            <i class="fa fa-chevron-down"></i>
        </span>
    </label>
    <div class="dropdown-content">
        <ul class="dropdown-list">
            <li><a href="">Lorem ipsum dolor.</a></li>
            <li><p>Lorem ipsum dolor.</p></li>
            <li><a href="">Lorem ipsum dolor.</a></li>
            <li><p>Lorem ipsum dolor.</p></li>
        </ul>
    </div>
</div>

.secondary - Secondary color
.danger - Danger color

Styleguide 90.0
*/

/*
Dropdown with links

Markup: <div class="dropdown">
    <input type="checkbox" id="dropdown1">
    <label for="dropdown1">
        <span class="dropdown-title">Dropdown with links
            <i class="fa fa-chevron-down"></i>
        </span>
    </label>
    <div class="dropdown-content">
        <ul class="dropdown-list">
            <li><a href="">Lorem ipsum dolor.</a></li>
            <li><p>Lorem ipsum dolor.</p></li>
            <li><a href="">Lorem ipsum dolor.</a></li>
            <li><p>Lorem ipsum dolor.</p></li>
        </ul>
    </div>
</div>

Styleguide 90.1
*/

/*
Dropdown with content

Markup: <div class="dropdown">
    <input type="checkbox" id="dropdown2">
    <label for="dropdown2">
        <span class="dropdown-title secondary">Dropdown
            <i class="fa fa-chevron-down"></i>
        </span>
    </label>
    <div class="dropdown-content">
        <div class="dropdown-content-wrap">
            <h1>Lorem ipsum dolor.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, similique, adipisci, explicabo velit facilis enim     provident odio porro iste quas perferendis quo corporis laudantium eveniet culpa soluta eos deleniti harum beatae eaque sunt esse eligendi earum blanditiis nam dicta libero obcaecati sequi aliquid ducimus pariatur ea molestias dolor maxime cum officia ipsa officiis nobis amet consectetur! Minima, nemo explicabo iure id corrupti nesciunt ratione qui nam maiores animi unde laboriosam sint officia? Omnis, dolorem magnam fugit consequuntur sit vel ratione ab illum dignissimos quod? Consequuntur, rerum, aliquam reiciendis pariatur molestiae obcaecati aspernatur ut sequi in dolorem mollitia hic culpa cupiditate!</p>
        </div>
    </div>
</div>

Styleguide 90.2
*/

/*
Dropdown with Vertical list

Markup: <div class="dropdown">
    <input type="checkbox" id="dropdown3">
    <label for="dropdown3">
        <span class="dropdown-title danger">Dropdown with vertical list
            <i class="fa fa-chevron-down"></i>
        </span>
    </label>
    <div class="dropdown-content">
        <div class="dropdown-content-wrap">
            <div class="vertical-list">
                <h4>Instilling 1</h4>
                <ul class="">
                    <form action="">
                        <li>
                            <input id="checkbox1a" class="input" type="checkbox" name="vehicle" value="Bike">
                            <label class="label label-checkbox" for="checkbox1a">I have a bike</label>
                        </li>
                        <li>
                            <input id="checkbox2a" class="input" type="checkbox" name="vehicle" value="Car">
                            <label class="label label-checkbox" for="checkbox2a">I have a car</label>
                        </li>
                        <li>
                            <input id="radio1a" class="input" type="radio" name="sex" value="male">
                            <label class="label label-radio" for="radio1a">Male</label>
                        </li>
                        <li>
                            <input id="radio2a" class="input" type="radio" name="sex" value="female">
                            <label class="label label-radio" for="radio2a">Female</label>
                        </li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>

Styleguide 90.3
*/

@mixin dropdown-title {

  position:relative;
  width:100%;
  display:block;
  padding: 3px unit(1);
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius;
  outline:0;
  color:white;

  background-color: $color-mint-green;
  box-shadow:0px 1px 2px darken($color-mint-green, 20);

  i.fa, span.glyphicon{
    @include transition(all 0.5s ease 0.1s);
    position:absolute;
    color:black;
    -moz-opacity: 0.25;
    opacity:.25;
    filter: alpha(opacity=25);
    top: 7px;
    right:17px;
    //margin-right:unit(1);
    display:inline-block;
  }

  &:active, &.active{
    padding: 2px unit(1) 4px unit(1);
    box-shadow:inset 1px 1px 4px darken($color-mint-green, 10);
    color: tint($color-mint-green, 85);

    i.fa, span.glyphicon{
      @include transform(rotate(180deg));
      top:6px;
    }
  }

  &:hover{
    color: white;
    background-color: darken($color-mint-green, 2);
  }

  &.secondary{
    @extend .btn-secondary;
  }

  &.danger{
    @extend .btn-danger;
  }
}

.dropdown{
    display: block;
    margin: 10px 0 10px 0;
    position:relative;

    &:after{
        content:'';
        display:block;
        clear: both;
    }

    label{
        display:block;
        background: transparent;
        padding-right:unit(2);
    }


    .dropdown-title{
       @include dropdown-title;
    } // .dropdown-title



    >input[type="checkbox"]{
        display:none;
        display:block\9;
        position:absolute;
        z-index:-999999;
    }

    input[type="checkbox"]:checked ~ label .dropdown-title{
        padding: 2px unit(1) 4px unit(1);
        i.fa, span.glyphicon{
            @include transform(rotate(180deg));
            top:6px;
        }

        box-shadow:inset 1px 1px 4px darken($color-mint-green, 10);
        color: tint($color-mint-green, 85);
        background-color: darken($color-mint-green, 2);

        &.secondary{
            box-shadow:inset 1px 1px 4px darken($color-grey-light, 15);
            color: tint($color-grey-light, 80);
            background-color: darken($color-grey-light, 4);
        }

        &.danger{
            box-shadow:inset 1px 1px 4px darken($color-red, 15);
            color: tint($color-red, 80);
            background-color: darken($color-red, 4);
        }
    }

    input[type="checkbox"]:checked ~ .dropdown-content{
        display:block;
        margin-bottom: 20px;
    }

    .dropdown-content{
        width:100%;
        display:none;
        margin: unit(3) 0 0 0;
        background-color: white;
        border-radius:$border-radius;
        box-shadow:0px 1px 2px $color-grey-light;
        position: relative;
        float:left;

        .dropdown-content-wrap{
            padding: unit(2);
            position: relative;
            float:none;
        }

        &:before{
            content:"";
            background-image: inline-image('arrowup.svg');
            background-repeat: no-repeat;
            background: image-url('arrowup.png')\9;
            width: 20px;height: 10px;
            position:absolute;
            //top: 46px;
            top:-10px;
            right: 14px;
            display: block;
        }
    }

    .dropdown-content-head {
      margin: unit(1) 0;
    }

    ul.dropdown-list{
        width:100%;
        margin:0; padding: unit(1)  0;
        >li{
            margin: 0; padding: 5px unit(2);
            list-style:none;
            cursor:pointer;
            >a, >p{
                margin: 0;padding: 0;
            }
            &:hover{
                background-color: lighten($color-grey-light, 20);
            }
        }
    }
}
