@charset "UTF-8";
@import 'bourbon/bourbon';
@import 'bootstrap/bootstrap';


#resso{
    position:fixed;
    width:100%;
    z-index:99;
    height:1px;
}
@media (max-width: $screen-xs-max) {
    #resso{
        border-top:2px red solid;
    }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #resso{
        border-top:2px orange solid;
    }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    #resso{
        border-top:2px yellow solid;
    }
}
@media (min-width: $screen-lg-min) {
    #resso{
        border-top:2px white solid;
    }
}


// ----- M A I N  C O L O R S -----

$color-sand: #f1f1e7;
$color-brown: #b39c86;
$color-mudgreen: #798881;
$color-black: #313233;

$color-orange:#ff7275;
$color-purple:#696092;
$color-blue:#278fb5;
$color-yellow:#ffba48;
$color-green: #7cbf9e;
$color-pink:#dc90b5;

$color-grey: #5f6062;
$color-grey-light: #b1b1ad;
$color-orange-bright: #f47049;




// ----- G R I D -----
$basepx: 16;

@function pxtoem($px, $basepx){
    @return ($px/$basepx)+0em;
}

$vertical-grid-size: 8px; //pxtoem(8, $basepx);


@function unit($val){
    @return $vertical-grid-size * $val;
}

@mixin fontSize($val){
    font-size: $vertical-grid-size * $val;
}
@mixin lineHeight($val){
    line-height: $vertical-grid-size * $val;
}

@mixin padding($top, $bottom){
    padding-top: $vertical-grid-size * $top;
    padding-bottom: $vertical-grid-size * $bottom;
}

@mixin margin($top, $bottom){
    margin-top: $vertical-grid-size * $top;
    margin-bottom: $vertical-grid-size * $bottom;
}

@function calcMargin($val){
    $a: $val % 24;
    $b: 24 - $a;
    @return $b;
}

// ----- T Y P O -----

body{
    background-color: $color-sand;
    min-height:1600px;

    font-family: 'proxima-nova',sans-serif;
    font-size: 16px;
    @include lineHeight(3);
}

h1,h2,h3,h4,h5,h6,p,a{
    margin:0; padding: 0;
    //background-color: rgba(255,0,0,0.5);
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 42px; //42
    color:$color-black;
    @include lineHeight(6);
    @include margin(0,3);

    .results{
        padding-left:5px;
        font-size: 26px;
        height: 26px;
        font-style:italic;
        font-weight: 400;
        color:$color-mudgreen;
        display:inline-block;
    }

    &.subject{
        font-size: 26px;
    }
}

h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px; //26
    color:$color-black;
    @include lineHeight(3);
    @include margin(0,3);
}

h3{
    font-family: 'Merriweather',sans-serif;
    font-size: 18px; // 20
    font-weight: 300;
    color:$color-grey;
    @include lineHeight(3);
    @include margin(0,3);

    &.title{
        min-height: unit(6);
        padding-top: 21px;
        padding-bottom: 3px;
    }
}

h4{
    font-family: 'proxima-nova',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:$color-grey;
    @include lineHeight(3);
    @include margin(0,0);
}

p{
    font-family: 'proxima-nova',sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:$color-mudgreen;
    @include lineHeight(3);
    @include margin(0,3);

    &.light{
        color:$color-grey-light;
    }
    a{
        display:inline;
        line-height:inherit;
        margin-top:0;
        margin-bottom:0;
    }

}

a{
   font-family: 'proxima-nova',sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color:$color-green;
    @include lineHeight(3);
    @include margin(0,1);
    display:block;
    &:hover{
        text-decoration: none;
        color: darken($color-green, 25);
    }
}


@mixin text-search-bar{
    font-family: 'proxima-nova',sans-serif;
    font-size: 20px;
    color:#f1f1f1;
}

@mixin header-header($color){
    font-family: 'Merriweather', serif;
    font-size: 26px;
    color: darken($color, 25);
}




// ----- H E A D E R -----
header{
    margin: 0;padding: 0;
    min-height:unit(57);
    position:relative;
    background-color: $color-green;
    background-position: 75% 0;
    background-repeat: no-repeat;

    .header-content{
        padding-top: unit(6)search;
    }

    img.header-background{
        position:absolute;
        top:0px;
        left:50%;
        margin-left: -585px;
    }
}

body{
    &.category-children{
        $color: $color-pink;
        $secondary: darken($color, 35);

        header{
            background-color: $color;
        }
        .search-bar{
            background-color: $secondary;
        }
        h1.subject{
            color: $secondary;
            //border-left: 1px solid transparentize($darken, 0.7);
        }
    }

}

.logo{
    background-image: image-url('kk_bib_logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 201px;height: 50px;
    //position:fixed;

}

// ----- M E N U S -----
.navbar{
    margin-bottom: 0;
    position:absolute;
    bottom:0px;
    width:100%;
}

.navbar-default{
    background-color:transparent;
    border-color:transparent;
}

.nav.navbar-nav{
    display:table;
    width:100%;

    >li{
        display:table-cell;
        float:none;

        a{
            display: inline-block;
            width:auto;
            padding-left: 0;padding-right: 0;
            min-width:60px;
            text-align: center;
            color:white;
            background-color: transparent;
            margin-bottom: 0;
            &:hover{
                color:white;
                border-bottom:5px solid white;
                background-color: transparent;
            }
        }

        &.active{
            background-color: transparent;
            a, a:hover{
                color:white;
                border-bottom:5px solid white;
                background-color: transparent;
            }
        }
    }
}


aside{
    h3{
        margin-top:0px;
    }

    a{
        margin-bottom: 0;
        color:$color-grey-light;
    }

    ul{
        margin: 0;padding: 0;
        li{
            margin: 0; padding: 0;
            list-style:none;
            a{
                margin: 0;padding: 0;
                color:$color-grey-light;
                &:hover{
                    color: lighten($color-grey, 20);
                }

                &:active{
                    color: $color-orange-bright;
                }
            }

            &.active{
                a, a:hover{
                    color: $color-orange-bright;
                }
            }
        }
    }

    &.filter{
        padding-bottom: unit(3);
        margin-bottom: unit(3) - 1px;
        border-bottom: 1px solid lighten($color-grey-light, 15);
    }
}

// ----- S E A R C H -----
.search-bar{
    $height: unit(9);
    width: 100%;
    min-height:$height;
    position:relative;
    left:0px; top:0px;
    background-color: darken($color-green, 25);
    margin-bottom: unit(12);
    form{
        height:$height;
        input[type=text]{
            outline: 0;
            width:100%;
            height:$height;
            background:transparent;
            border:none;
            @include text-search-bar;
        }
    }
}

.icon-search{
    span{
        color:#f0f0e8;
        font-size: 30px;
        padding: 20px 0 0 50%;
    }
}


// ----- S E A R C H   R E S U L T ----
.search-result{

    min-height:260px;
    margin-bottom: calcMargin(260px);
}

// ----- I M G -----
img{
    &.margin{
        margin-right: 20px;
        margin-bottom:20px;
        line-height:40px;
    }

    &.img-grid{
        margin-top: 6px;
    }
}

// ----- B U T T O N S -----
.btn{
    border:none;
    box-shadow:0px 1px 2px rgba(0,0,0,0.5);
    margin:8px 0px 9px 0;

    span.glyphicon{
        color:black;
        opacity:0.25;
        top: 2px;
        margin-right:7px;
        display:inline-block;
    }
}


.btn-sm{
    margin:10px 0px 10px 0px;
}

.btn-default{
    box-shadow:0px 1px 2px darken($btn-default-bg, 25);
}

.btn-primary{
    box-shadow:0px 1px 2px darken($btn-primary-bg, 15);
}




// ----- T A B L E -----
.table {
    margin-top: 5px;
    >tbody{
        >tr{
            &.odd{
                background-color: #e9e9e1;
            }
            >td{
                padding: 6px 0 6px 10px;
                border-top:0px;
                p{
                    margin: 0;padding: 0;
                }
            }
        }
    }
}

// ----- M I S C -----
.show{
    background-color: rgba(0,0,0,0.1);
}

.red{
    background-color: transparentize(red, 0.9);
}

.yellow{
    background-color: transparentize(yellow, 0.9);
}

.green{
    background-color: transparentize(green, 0.9);
}

.blue{
    background-color: transparentize(blue, 0.9);
}
