@charset "UTF-8";
/*
Rating

Use the <code>.checked</code> class on the <code>span</code> element, to checke the stars.

Markup: <div class="rating {$modifiers}">
    <span><i class="fa fa-star-o"></i></span>
    <span><i class="fa fa-star-o"></i></span>
    <span><i class="fa fa-star-o"></i></span>
    <span class="checked"><i class="fa fa-star-o"></i></span>
    <span><i class="fa fa-star-o"></i></span>
</div>

.rating-md - Medium Size
.rating-lg - Large Size

Styleguide 99.4
*/

/*
Rating interactive

Markup: <div class="rating rating-md rating-interactive ">
    <span><i class="fa fa-star-o"></i></span>
    <span><i class="fa fa-star-o"></i></span>
    <span><i class="fa fa-star-o"></i></span>
    <span class="checked"><i class="fa fa-star-o"></i></span>
    <span><i class="fa fa-star-o"></i></span>
</div>

Styleguide 99.5
*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: table;
}
.rating.rating-md > span {
    font-size: 35px;
}
.rating.rating-lg > span {
    font-size: 45px;
}
.rating > span {
    float: right;
    display: table-cell;
    position: relative;
    font-size: 20px;
    padding-right: 5px;
}

.rating.rating-interactive{
    cursor: pointer;
}

.rating > span > i {
    color: desaturate(darken($color-sand, 20), 20);
}

.rating > span.checked i:before,
.rating > span.checked ~ span i:before,
.rating.rating-interactive > span:hover i:before,
.rating.rating-interactive > span:hover ~ span i:before {
    content: "\f005";
    color: $color-mint-green;
}
