@charset "UTF-8";
// ----- T E X T  &  I M A G E S -----

/*
Images & Text

Markup: <div class="imgtext">
    <div class="img-wrap">
        <a href="#"><img src="_/img/content/270x190.png" alt=""></a>
    </div>
    <div class="text">
        <h3>Some header here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, quaerat earum numquam a est ut ullam autem ipsa commodi dolorem dolore error harum nemo incidunt quasi at libero mollitia placeat quis atque iusto fugit sed eveniet amet eum optio alias! Nihil, natus laboriosam porro. Alias quisquam recusandae reprehenderit nam molestiae soluta veritatis dicta beatae esse. Ducimus, dignissimos, debitis nostrum possimus eaque recusandae delectus at quis est nulla sequi consequatur quidem illum accusantium blanditiis mollitia quia esse. Alias, harum, commodi, ad, reprehenderit tempore officia sequi voluptates voluptate ducimus fuga perferendis quis dignissimos suscipit accusantium velit fugiat porro voluptatum aperiam eum.</p>
    </div>
</div>

Styleguide 7.0
*/


/*
Reponsive image

To make a image responsive add the <code>.img-responsive</code>

Markup: <div class="imgtext">
    <div class="img-wrap">
        <a href="#"><img src="_/img/content/270x190.png" class="img-responsive" alt=""></a>
    </div>
    <div class="text">
        <h3>Some header here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, quaerat earum numquam a est ut ullam autem ipsa commodi dolorem dolore error harum nemo incidunt quasi at libero mollitia placeat quis atque iusto fugit sed eveniet amet eum optio alias! Nihil, natus laboriosam porro. Alias quisquam recusandae reprehenderit nam molestiae soluta veritatis dicta beatae esse. Ducimus, dignissimos, debitis nostrum possimus eaque recusandae delectus at quis est nulla sequi consequatur quidem illum accusantium blanditiis mollitia quia esse. Alias, harum, commodi, ad, reprehenderit tempore officia sequi voluptates voluptate ducimus fuga perferendis quis dignissimos suscipit accusantium velit fugiat porro voluptatum aperiam eum.</p>
    </div>
</div>

Styleguide 7.1
*/

/*
Image limited center

To limit the responsiveness add <code>.limit-height</code> to the img. To place the image in center add <code>.img-center</code> to the image wrapper.

Markup: <div class="nested">
    <div class="g3-1">
        <div class="img-wrap img-center">
            <a href="#">
                        <img src="holder.js/1200x1906/#00b38a:#fff" class="img-responsive limit-height">
            </a>
        </div>
    </div>

    <div class="g9-4">
        <div class="text">
            <h3>Some header here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, quaerat earum numquam a est ut ullam autem ipsa commodi dolorem dolore error harum nemo incidunt quasi at libero mollitia placeat quis atque iusto fugit sed eveniet amet eum optio alias! Nihil, natus laboriosam porro. Alias quisquam recusandae reprehenderit nam molestiae soluta veritatis dicta beatae esse. Ducimus, dignissimos, debitis nostrum possimus eaque recusandae delectus at quis est nulla sequi consequatur quidem illum accusantium blanditiis mollitia quia esse. Alias, harum, commodi, ad, reprehenderit tempore officia sequi voluptates voluptate ducimus fuga perferendis quis dignissimos suscipit accusantium velit fugiat porro voluptatum aperiam eum.</p>
        </div>
    </div>
</div>
<div class="gclear"></div>

Styleguide 7.2
*/

/*
Image & Text in columns

To avoid some of the text running under the image add <code>.column</code> to the <code>.imgtext</code> class.

Markup: <div class="imgtext column">
    <div class="img-wrap">
        <a href="#"><img src="_/img/content/270x190.png" class="img-responsive" alt=""></a>
    </div>
    <div class="text">
        <h3>Some header here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, quaerat earum numquam a est ut ullam autem ipsa commodi dolorem dolore error harum nemo incidunt quasi at libero mollitia placeat quis atque iusto fugit sed eveniet amet eum optio alias! Nihil, natus laboriosam porro. Alias quisquam recusandae reprehenderit nam molestiae soluta veritatis dicta beatae esse. Ducimus, dignissimos, debitis nostrum possimus eaque recusandae delectus at quis est nulla sequi consequatur quidem illum accusantium blanditiis mollitia quia esse. Alias, harum, commodi, ad, reprehenderit tempore officia sequi voluptates voluptate ducimus fuga perferendis quis dignissimos suscipit accusantium velit fugiat porro voluptatum aperiam eum.</p>
    </div>
</div>

Styleguide 7.3
*/

/*
Image & Text in columns with scale

To make the image scale in "column" mode add <code>.scale</code> to the <code>.imgtext</code> class.

Markup: <div class="imgtext column scale">
    <div class="img-wrap">
        <a href="#"><img src="_/img/content/270x190.png" class="img-responsive" alt=""></a>
    </div>
    <div class="text">
        <h3>Some header here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, animi, aperiam laboriosam molestias illum nihil sit neque ipsam quasi nulla doloremque reiciendis odit eveniet dolorem quidem labore facere corrupti ratione.</p>
    </div>
</div>

Styleguide 7.4
*/

/*
Image hide

The image wrapper has a <code>.hide</code> class. When breakpoint is met, the image is hidden.

Markup: <div class="imgtext">
    <div class="img-wrap hide">
        <a href="#"><img src="_/img/content/170x145.png" class="img-responsive" alt=""></a>
    </div>
    <div class="text">
        <div class="meta">
            <span class="meta-primary">21 okt. 2013</span> <span class="meta-secondary">kort nyt</span>
        </div>
        <h2>Alle børn har ret til et godt liv</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, animi, aperiam laboriosam molestias illum nihil sit neque ipsam quasi nulla doloremque reiciendis odit eveniet dolorem quidem labore facere corrupti ratione.</p>
    </div>
</div>

Styleguide 7.5
*/

/*
Image underline

For at skille content ad, brug da <code>.imgtext .underline</code>. Det giver containeren en bund linje.

Markup: <div class="imgtext underline">
    <div class="img-wrap">
        <a href="#"><img src="_/img/content/60x60.png" class="img-responsive"></a>
    </div>
    <div class="text">
        <h4 class="big">Litteratur og lydbøger</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, porro!</p>
    </div>
</div>

Styleguide 7.6
*/

.imgtext{


    &.column{
        .img-wrap{
            display:table-cell;
        }

        .text{
            display:table-cell;
        }
    }

    &.scale{
        //display:table;

        .img-wrap{
            display:table-cell;
            width:auto;
            height:auto;
            vertical-align:top;
            text-align: left;
            width:50%\9;
            float: none;
            padding: 0px 20px 8px 0px;
        }

        .text{
            vertical-align:top;
            display:table-cell;
            text-align: left;
            width: auto;
        }
    }

    @include small-medium() {
        &.column .img-wrap, .img-wrap, &.column .text, .text{
            display:block;
            width: 100%;
            float:none;
        }

        &.scale .img-wrap, &.scale .text{
            display:table-cell;
        }

        &.scale .img-wrap{
            padding-right: 20px;
            padding-bottom: 8px;
            width:50%;

        }

        &.scale .img-wrap, &.scale .text, &.column .img-wrap, .img-wrap, &.column .text, .text{
            &.hide{
                display:none;
            }
        }

    }

    @include small(){
        &.scale .img-wrap, &.scale .text, &.column .img-wrap, .img-wrap, &.column .text, .text{
            &.hide-sm{
                display:none;
            }
        }
    }
}

.img-wrap{
    display:block;
    height:auto;
    float:left;
    margin:0 20px unit(1) 0;

    &.img-center{
        width:100%;
        background-color: desaturate( darken($color-sand, 3), 5);
        border: 1px solid desaturate( darken($color-sand, 5), 10);
        text-align: center;
    }

    &.hide{
        @include small-medium() {
            display:none;
        }
    }
}


/* !important is only temp */
.img-responsive{
    width:100% !important;
    max-width:100% !important;
    height:auto !important;
    vertical-align:top;
    margin: 0 auto;

    &.limit-height{
        max-height:500px !important;
        width:auto !important;

        @include small(){
            max-height:300px !important;
        }

    }
}


.img-round{
    border-radius:100%;
}

.underline{
    margin-bottom: unit(3);
    border-bottom: 1px solid lighten($color-grey-light, 15);
}

//.imgtext{
//    clear:both;
//    vertical-align:top;
//
//    &.imgtext-underline{
//        margin-bottom: unit(3);
//        border-bottom: 1px solid lighten($color-grey-light, 15);
//    }
//}
//
//
//
//
//.img-wrap{
//    display:block;
//    height:auto;
//    float:left;
//    margin:0 20px unit(1) 0;
//
//    &.hide{
//        @include small-medium() {
//            display:none;
//        }
//    }
//
//    &.shrink{
//        display:table-cell;
//
//        @include small() {
//            border: 5px solid blue;
//            float: none;
//            padding: 0 20px 0 0px;
//        }
//    }
//}
//
//

//

//
//.text{
//    display:table-cell;
//    @include small() {
//        display:block;
//    }
//}
