.tip{
    position:relative;
    display:inline-block;
}

.tip-btn{
    cursor:pointer;
    background-color: rgba(0,0,0,0.1);
    color:white;
    width:20px;
    height: 20px;
    border-radius:100%;
    display:inline-block;
    text-align: center;
    vertical-align:middle;
}

.tip:hover .tip-toggle{
    display:block;
}

.tip-toggle{
    display:none;
    position:absolute;
    left:0px;
    bottom:0px;
    width:320px;
    padding-bottom: 30px;
}

.tip-tip{
    background-color: white;
    border-radius:$border-radius;
    box-shadow:0px 1px 2px $color-grey-light;
    
//    &:before{
//        content:"";
//        background-image: inline-image('arrowdown.svg');
//        background-repeat: no-repeat;
//        background: image-url('arrowdown.png')\9;
//        width: 20px;height: 10px;
//        position:absolute;
//        bottom: 46px;
//        right: 14px;
//        display: block;
//    }
}

.tip-tip-content{
    padding: 20px;
}