@charset "UTF-8";

// ----- V E R T I C A L  L I S T -----


/*
Vertical List

Markup: <div class="vertical-list">
<h4>Vertical List</h4>
<ul class="{$modifiers}">
    <li><p>Lorem ipsum dolor sit.</p></li>
    <li><p>Eligendi, commodi nemo similique.</p></li>
    <li><p>Et, nesciunt cupiditate aliquid.</p></li>
    <li><p>Cum, officia cumque dolores!</p></li>
    <li><p>Itaque, obcaecati omnis doloribus.</p></li>
</ul>
</div>

.vertical-list-plain - A plain vertical list
.vertical-list-bullet - A vertical list with bullets
.vertical-list-number - A vertical list with numbers
.vertical-list-check - A vertical list with checkmarks

Styleguide 3.0
*/

/*
Vertical List Nav

Denne vertical list kan bruges til navigation.

Markup: <div class="vertical-list">
<h3>Vertical List Nav</h3>
<ul class="vertical-list-nav">
    <li><a href="">Lorem ipsum dolor sit.</a></li>
    <li><a href="">Molestiae, unde delectus laborum.</a></li>
    <li class="active"><a href="" >Nesciunt porro fuga delectus.</a></li>
    <li><a href="">Accusantium, incidunt dignissimos quos?</a></li>
</ul>
</div>

Styleguide 3.1
*/

/*
Vertical List Separator

Denne vertical list kan bruges til filtrering af søgningsresultater. Brug den i forbindelse med <code>.vertical-list-nav</code>.

Markup: <div class="vertical-list vertical-list-separator">
<h3>Filtrér din søgning</h3>
<h4>Efter materialetype</h4>
<ul class="vertical-list-nav">
    <li><a href="">Resumé</a></li>
    <li><a href="">Anmeldelser</a></li>
    <li class="active"><a href="">Om Joanne K. Rowling</a></li>
    <li><a href="">Se alle eksemplarer</a></li>
</ul>
<a href="">+ Flere typer</a>
</div>

Styleguide 3.2
*/

/*
Vertical List With Forms

Markup: <div class="vertical-list">
    <h4>Form Elements</h4>
    <ul class="vertical-list-plain">
        <form action="">
            <li><input id="checkbox1" class="input" type="checkbox" name="vehicle" value="Bike"><label class="label label-checkbox" for="checkbox1">I have a bike</label></li>
            <li><input id="checkbox2" class="input" type="checkbox" name="vehicle" value="Car"><label class="label label-checkbox" for="checkbox2">I have a car</label></li>
            <li><input id="radio1" class="input" type="radio" name="sex" value="male"><label class="label label-radio" for="radio1">Male</label></li>
            <li><input id="radio2" class="input" type="radio" name="sex" value="female"><label class="label label-radio" for="radio2">Female</label></li>
        </form>
    </ul>
</div>

Styleguide 3.3
*/

/*
Vertical List With Icons

Markup: <div class="vertical-list">
    <ul class="vertical-list-icons">
        <li><p><i class="fa fa-calendar"></i>Torsdag 12. december til Fredag 20. december</p></li>
        <li><p><i class="fa fa-clock-o"></i>10:00 til 17:00</p></li>
        <li><p><i class="fa fa-home"></i><a href="">Risskov Biliotek</a></p></li>
        <li><p><i class="fa fa-user"></i>For alle</p></li>
    </ul>
</div>

Styleguide 3.4
*/


.vertical-list {
    h2, h3 {
        margin-top: 0;
    }
    h4,
    h5,
    h6 {
        margin-bottom: unit(1);
    }

    >a{
        margin-top: unit(1);
        display: inline-block;
    }

    ul, ol {
        margin: 0; padding: 0;

        li {
            margin: 0; padding: unit(1) 0 0 0;
            color:$color-mudgreen;
            list-style: none;

            &:first-child {
                padding: 0;
            }

            a{
                display:block;
                margin: 0;padding: 0;
            }

            p{
                margin: 0; padding: 0;
            }
        } // >li
    }// ul, ol

    &.vertical-list-separator{
        padding-bottom: unit(2);
        margin-bottom: unit(6) - 1px;
        border-bottom: 1px solid lighten($color-grey-light, 15);

        a{
            color: $color-grey-light;
            font-weight: 300;

            &:hover {
                color: $color-mint-green;
            }
        }



    } // &.vertical-list-separator

    ul.vertical-list-nav{
        a{
            color: $color-grey-light;
            font-weight: 300;
            &:hover {
                color: $color-mint-green;
            }
        }

        li.active{
            a{
                 color:$color-mint-green;
            }
        }

    } // ul.vertical-list-nav

    ul.vertical-list-plain{
        li{
            list-style: none;
        }
    } // ul.vertical-list-plain


    ul.vertical-list-icons{
        li{
            list-style: none;
            position:relative;
            padding: 0; margin: 0 0 8px 0;

            a{
                display:inline-block;
            }

            i, span{
                margin-left: -25px;
                padding-right: 11px;
            }

            p{
                 padding-left: 25px;
             }
        }
    } // ul.vertical-list-icons

    ul.vertical-list-bullet{
        margin:0px 0px 0px 20px;
        li{
            list-style: disc ;
        }
    } // ul.vertical-list-bullet

    ol, ol.vertical-list-number{
        margin:0px 0px 0px 23px;

        li{
            list-style: decimal;
        }
    } // ol, ol.vertical-list-number

    ul.vertical-list-number{
        counter-reset: item;
        li{
            position:relative;
            padding-left:25px;

            &:before{
                content: counter(item) ". ";
                counter-increment: item;
                width: 1em;
                text-align: center;
                float:left;
                position:absolute;
                left:0px;
            }
        }
    } // ul.vertical-list-number

    ul.vertical-list-check{
        li{
            position:relative;
            padding-left:25px;

            &:before{
                content: "";
                background: inline-image('checkmark2.svg') no-repeat 0 5px;
                background-image: image-url('checkmark2.png')\9;
                background-position: 0 5px;
                background-repeat: no-repeat;

                height:20px;
                width:20px;
                float:left;
                position:absolute;
                left:0px;
                color: $color-red;
            }
        }
    } // ul.vertical-list-check

} // .vertical-list


#footer .vertical-list{
    @include small-medium(){
        margin-bottom: 36px;
    }
}
