@charset "UTF-8";

.week-display {
  text-align: center;
  a {
    display: inline-block;
    padding: 0 15px;
    &.disable {
      color: lighten($color-grey-light, 10);
    }
  }
  .week-display-header {
    display: inline-block;
  }
}
