@charset "UTF-8";

// ----- I M P O R T -----

@import 'bourbon/bourbon';
@import 'style/breakpoint';
@import "bootstrap/variables";
@import "bootstrap/mixins";

// ----- O P T I O N S -----

$border-radius: 4px;

// ----- I N C L U D E -----


/*
Objects

Styleguide 99.0
*/

@import 'style/color';
@import 'style/menu';
@import 'style/vgrid';
@import 'style/verticallist';
@import 'style/table';
@import 'style/buttons';
@import 'style/typo';
@import 'style/dropdown';
@import 'style/forms';
@import 'style/textimg';
@import 'style/tip-popover';
@import 'style/modals';
@import 'style/alerts';
@import 'style/search';
@import 'style/rating';
@import 'style/content';
@import 'style/loader';
@import 'style/weekdisplay';
@import 'style/calendar';
@import 'bootstrap/code';
@import 'font-awesome/font-awesome';

*{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  backface-visibility:     hidden;
}

#header{
  height: 106px;
  background-repeat: no-repeat;
  background-position: center bottom;

  &.tema {
    height: 456px;
  }

  @include small-medium(){
    background-image: none !important;
    height: 173px;


    &.tema{
      height:179px;

      #helper{
        top:133px !important;
      }
    }

    #helper{
      top:127px !important;
    }
  }
}

#footer{
  background-color: $color-black;
  min-height:400px;
}

.logo{
  top:40px;
  position:absolute;

  @include small-medium(){
    left:50%;
    margin-left: -100px;
  }
}

/*
Favicon

 <img src="_/img/favicon@100.png" alt=""><br><br>
Favicon realsize: <br><img src="_/img/favicon.ico" alt="">

Styleguide 99.9
*/
