// ----- I M P O R T -----

@import 'bourbon/bourbon';
@import 'style/breakpoint';

// ----- O P T I O N S -----

$icon-font-path:          "../css/fonts/" !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;

$border-radius: 4px;

// ----- M A I N  C O L O R S -----

$color-sand: #f1f1e7;
$color-brown: #b39c86;
$color-mudgreen: #798881;
$color-black: #5f6062;

$color-orange:#ff7275;
$color-purple:#696092;
$color-blue:#278fb5;
$color-yellow:#ffba48;
$color-green: #7cbf9e;
$color-pink:#dc90b5;

$color-grey: #5f6062;
$color-grey-light: #b1b1ad;
$color-orange-bright: #f47049;
$color-dark-sand: #e9e9e1;

$color-mint-green: #00b38a;

// ----- I N C L U D E -----

@import 'style/vgrid';
@import 'style/typo';
@import 'style/verticallist';
@import 'style/table';
@import 'style/buttons';
@import 'style/dropdown';
@import 'style/forms';
@import 'style/textimg';
@import 'style/tip';
@import 'bootstrap/glyphicons';

