
// ----- I M P O R T -----

@import 'bourbon/bourbon';
@import 'style/breakpoint';
@import "bootstrap/variables";
@import "bootstrap/mixins";

// ----- O P T I O N S -----

$icon-font-path:          "../css/fonts/" !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;

$border-radius: 4px;


// ----- I N C L U D E -----


/*
Objects

Styleguide 99.0
*/

@import 'style/color';
@import 'style/menu';
@import 'style/vgrid';
@import 'style/typo';
@import 'style/verticallist';
@import 'style/table';
@import 'style/buttons';
@import 'style/dropdown';
@import 'style/forms';
@import 'style/textimg';
@import 'style/tip-popover';
@import 'style/modals';
@import 'style/alerts';
@import 'style/search';
@import 'style/rating';
@import 'style/content';
@import 'bootstrap/glyphicons';
@import 'bootstrap/code';
@import 'font-awesome/font-awesome';

#header{
    height: 456px;
}

#footer{
    background-color: $color-black;
    min-height:400px;
}

