// ----- I M P O R T -----

@import 'zen';
@import 'style/breakpoint';

// ----- G R I D -----
$zen-column-count: 12;
$zen-gutter-width: 20px;

.container{
    @include zen-grid-container;
    padding-top:24px;
    max-width:1170px;
    margin:auto;
}

.nested{
    margin-left:-10px;
    margin-right:-10px;
}

@mixin responsive(){
    @include small-medium(){
        @include zen-grid-item(12,1);  
        @include zen-clear();
        margin:12px 0 12px 0;
    }
}

@for $i from 1 through $zen-column-count{
    @for $u from 1 through $zen-column-count{
        @for $y from 1 through 3{
            @if $y == 1 {
                .g#{$i}-#{$u}{
                    @include zen-grid-item($i, $u);
                    @include responsive();
                };
            }@elseif $y == 2{
                .g#{$i}-#{$u}-left{
                    @include zen-grid-item($i, $u, left);
                    @include responsive();
                };
            }@else{
                .g#{$i}-#{$u}-right{
                    @include zen-grid-item($i, $u, right);
                    @include responsive();
                };
            }        
        }    
    }    
}


.gclear{@include zen-clear();}
.gclear-right{@include zen-clear(right);}
.gclear-left{@include zen-clear(left);}
.spacer{height: 96px;}
// http://www.chromaticsites.com/blog/responsive-grid-building-sass-and-zen-grids-tale-breakpoint-grid-breakdown-mixin
// http://zengrids.com/

