// ----- I M P O R T -----

@import 'zen';
@import 'style/breakpoint';

// ----- G R I D -----
$zen-column-count: 12;
$zen-gutter-width: 20px;

.container{
    @include zen-grid-container;
    max-width:1170px;
    margin:auto;
}

.nested{
    margin-left:-10px;
    margin-right:-10px;
}

@mixin responsive(){
    @include small-medium(){
        @include zen-grid-item(12,1);  
        @include zen-clear();
        //margin:12px 0 12px 0;
        margin: 1px;
        
        
    }
}



@for $i from 1 through $zen-column-count{
    @for $u from 1 through $zen-column-count{
        @for $y from 1 through 3{
            @if $y == 1 {
                .g#{$i}-#{$u}{
                    @include zen-grid-item($i, $u);
                    @include responsive();
                };
            }@elseif $y == 2{
                .g#{$i}-#{$u}-left{
                    @include zen-grid-item($i, $u, left);
                    @include responsive();
                };
            }@else{
                .g#{$i}-#{$u}-right{
                    @include zen-grid-item($i, $u, right);
                    @include responsive();
                };
            }        
        }    
    }    
}

@include small-medium(){
    .r2-1{
       @include zen-grid-item(6,1, left); 
        clear:none;
    }
    .r2-2{
        @include zen-grid-item(6,7, left);
        clear:none;
    }
    
    .rclear{
        @include zen-clear();
    }
    
    .rspacer{
        height:24px;
    }
}

@include small(){
    .r2-1, .r2-2{
        @include zen-grid-item(12,1);  
        @include zen-clear();
    }
}

.gclear{@include zen-clear();}
.gclear-right{@include zen-clear(right);}
.gclear-left{@include zen-clear(left);}
.spacer{height: 96px;}
.spacer-md{height: 48px;}
.spacer-sm{height: 24px;}
// http://www.chromaticsites.com/blog/responsive-grid-building-sass-and-zen-grids-tale-breakpoint-grid-breakdown-mixin
// http://zengrids.com/

