.container {
  padding-top: 24px;
  margin: auto;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.g6-1 {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g6-2 {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g4-1 {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g4-2 {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g4-3 {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g3-1 {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g3-2 {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g3-3 {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.g3-4 {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.gclear {
  clear: left;
  height: 96px;
}

body {
  background-color: #f1f1e7;
  font-family: 'proxima-nova',sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #798881;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 42px;
  color: #313233;
  line-height: 48px;
  margin-top: 0px;
  margin-bottom: 24px;
}
h1 .results {
  padding-left: 5px;
  font-size: 26px;
  height: 26px;
  font-style: italic;
  font-weight: 400;
  color: #798881;
  display: inline-block;
}
h1.subject {
  font-size: 26px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
  color: #313233;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}

h3 {
  font-family: 'Merriweather',sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #5f6062;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}
h3.title {
  min-height: 48px;
  padding-top: 21px;
  padding-bottom: 3px;
}

h4, h5, h6 {
  font-family: 'proxima-nova',sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5f6062;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: 'proxima-nova',sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #798881;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}
p.light {
  color: #b1b1ad;
}
p a {
  display: inline;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  font-family: 'proxima-nova',sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #7cbf9e;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 8px;
  display: block;
}
a:hover {
  text-decoration: none;
  color: #3e7e5e;
}

.vertical-list h2, .vertical-list h3 {
  margin-top: 0;
}
.vertical-list h4,
.vertical-list h5,
.vertical-list h6 {
  margin-bottom: 8px;
}
.vertical-list ul, .vertical-list ol {
  margin: 0;
  padding: 0;
}
.vertical-list ul > li, .vertical-list ol > li {
  margin: 0;
  padding: 8px 0 0 0;
  color: #798881;
  list-style: none;
}
.vertical-list ul > li:first-child, .vertical-list ol > li:first-child {
  padding: 0;
}
.vertical-list ul > li a, .vertical-list ol > li a {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #b1b1ad;
}
.vertical-list ul > li a:hover, .vertical-list ol > li a:hover {
  color: #929395;
}
.vertical-list ul > li a:active, .vertical-list ol > li a:active {
  color: #f47049;
}
.vertical-list ul > li.active a, .vertical-list ul > li.active a:hover, .vertical-list ol > li.active a, .vertical-list ol > li.active a:hover {
  color: #f47049;
}
.vertical-list ul > li p, .vertical-list ol > li p {
  margin: 0;
  padding: 0;
}
.vertical-list ul.vertical-list-plain > li {
  list-style: none;
}
.vertical-list ul.vertical-list-bullet {
  margin: 0px 0px 0px 20px;
}
.vertical-list ul.vertical-list-bullet > li {
  list-style: disc;
}
.vertical-list ol, .vertical-list ol.vertical-list-number {
  margin: 0px 0px 0px 23px;
}
.vertical-list ol > li, .vertical-list ol.vertical-list-number > li {
  list-style: decimal;
}
.vertical-list ul.vertical-list-number {
  counter-reset: item;
}
.vertical-list ul.vertical-list-number > li {
  position: relative;
  padding-left: 25px;
}
.vertical-list ul.vertical-list-number > li:before {
  content: counter(item) ". ";
  counter-increment: item;
  width: 1em;
  text-align: center;
  float: left;
  position: absolute;
  left: 0px;
}
.vertical-list ul.vertical-list-check > li {
  position: relative;
  padding-left: 25px;
}
.vertical-list ul.vertical-list-check > li:before {
  content: "";
  background-image: url('/_/img/checkmark2.png?1389272246');
  background-position: 0 5px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
  left: 0px;
  color: #ff7275;
}

.table {
  min-width: 100%;
  margin-top: 5px;
}
.table > thead {
  border-bottom: 1px solid #d3d3c4;
}
.table > tbody > tr, .table > thead > tr {
  vertical-align: top;
}
.table > tbody > tr.odd, .table > thead > tr.odd {
  background-color: #e9e9e1;
}
.table > tbody > tr > td, .table > thead > tr > td {
  padding: 6px 10px 6px 10px;
  border: 0px;
}
.table > tbody > tr > td.center, .table > thead > tr > td.center {
  text-align: center;
}
.table > tbody > tr > td > p, .table > thead > tr > td > p {
  margin: 0;
  padding: 0;
}
